In [1]:
import pandas as pd

df = pd.read_csv("C:\\Users\\e006697\\Documents\\Python_2\\CursoPython\\Python Data Science\\Fuentes Kike\\Base de datos\\base_datos_2008.csv", nrows=1e6) #1e6 es 10 elevado a la 6. 1 millon de filas

In [2]:
dfdupli = df.append(df) #Creamos un nuevo df para poder hacer las pruebas y trabajar sobre el

In [3]:
dfdupli = dfdupli.sample (frac=1) #Lo reordenamos

In [4]:
dfclean = dfdupli.drop_duplicates() #Eliminamos los duplicados con la funci√≥n drop_duplicates()

In [5]:
len(dfclean)

999996

In [6]:
len(dfclean) == len(df)

False

In [7]:
dfclean.drop_duplicates(subset = "DayofMonth") #Eliminaria duplicados por la columna DayofMonth, dejando solo una fila por cada valor distinto de esta columna

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
76970,2008,1,26,6,1807.0,1810,2043.0,2100,WN,1489,...,4.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
963197,2008,2,12,2,1604.0,1605,1640.0,1642,HA,544,...,5.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
378373,2008,1,6,7,1144.0,1145,1236.0,1232,HA,383,...,7.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
450023,2008,1,17,4,1225.0,1215,1347.0,1329,NW,1583,...,10.0,30.0,0,NaN,0,10.0,0.0,8.0,0.0,0.0
596075,2008,1,7,1,2044.0,2020,2240.0,2242,DL,1436,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
324157,2008,1,25,5,1323.0,1321,1440.0,1449,EV,4198,...,9.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
303579,2008,1,16,3,1054.0,1100,1247.0,1254,DL,459,...,8.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
952318,2008,2,20,3,1911.0,1906,2052.0,2035,FL,128,...,12.0,14.0,0,NaN,0,0.0,0.0,12.0,0.0,5.0
104087,2008,1,30,3,1322.0,1220,1554.0,1415,XE,2770,...,4.0,66.0,0,NaN,0,0.0,0.0,99.0,0.0,0.0
323899,2008,1,31,4,1337.0,1340,1520.0,1542,EV,4182,...,9.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
660872,2008,2,19,2,848.0,845,856.0,900,WN,448,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
375591,2008,1,29,2,623.0,625,656.0,659,HA,105,...,5.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
568969,2008,1,5,6,1422.0,1415,1532.0,1533,CO,1552,...,5.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
427964,2008,1,2,3,1320.0,1325,1507.0,1519,NW,307,...,14.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
818781,2008,2,24,7,755.0,800,1127.0,1107,UA,297,...,30.0,9.0,0,NaN,0,0.0,0.0,20.0,0.0,0.0
723209,2008,2,8,5,1812.0,1815,1941.0,1940,XE,2116,...,6.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
814700,2008,2,18,1,944.0,945,1555.0,1559,UA,136,...,6.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
604495,2008,1,14,1,631.0,635,810.0,759,DL,1059,...,7.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
811989,2008,2,10,7,1257.0,1255,1554.0,1630,UA,37,...,7.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
535004,2008,1,4,5,2347.0,2355,539.0,530,AS,806,...,11.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
545052,2008,1,28,1,1101.0,1100,1220.0,1227,AS,690,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
101214,2008,1,27,7,1714.0,1550,1856.0,1707,XE,7772,...,13.0,31.0,0,NaN,0,0.0,0.0,25.0,0.0,84.0
33825,2008,1,13,7,2027.0,2030,2147.0,2150,WN,976,...,3.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
584350,2008,1,3,4,937.0,930,1104.0,1100,CO,1723,...,4.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
139232,2008,1,15,2,1725.0,1430,1818.0,1519,YV,7227,...,8.0,27.0,0,NaN,0,0.0,0.0,0.0,0.0,179.0
953600,2008,2,22,5,1959.0,1925,2224.0,2157,FL,260,...,4.0,13.0,0,NaN,0,0.0,0.0,0.0,0.0,27.0
19978,2008,1,9,3,910.0,910,1345.0,1350,WN,2111,...,2.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
515711,2008,1,1,2,954.0,955,1256.0,1225,AA,1739,...,5.0,21.0,0,NaN,0,0.0,0.0,31.0,0.0,0.0
421223,2008,1,21,1,1635.0,1640,1840.0,1845,MQ,4847,...,9.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
313168,2008,1,23,3,1729.0,1729,1839.0,1852,DL,1930,...,6.0,28.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
920583,2008,2,11,1,1445.0,1445,1632.0,1624,EV,4525,...,3.0,30.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [8]:
df.dropna() #eliminamos los registros que tengan algun valor NaN

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [9]:
df.dropna(thresh=25) #le decimos que elimne las filas donde no hayan 25 columnas o mas, informadas sin NaN

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [10]:
df.dropna(thresh=len(df.columns)-1) #solo deja los que solo tienen una columna como NaN

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [12]:
df.dropna(subset = ["CancellationCode"]) #indicar por que columna debemos filtrar los que no tengan NaN

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN